### FINAL PROJECT: NYPD Arrests Data (Historic) 
# Dataset ETL

In [1]:
# Import dependencies
import pandas as pd

In [2]:
#  Read in the dataset into a DataFrame

# Sample (1000 records) of the dataset
#arrest_raw_df = pd.read_csv("https://data.cityofnewyork.us/resource/8h9b-rp9u.csv")

# Full dataset (~4 min.)
arrest_raw_df = pd.read_csv("https://data.cityofnewyork.us/api/views/8h9b-rp9u/rows.csv?accessType=DOWNLOAD")

print(arrest_raw_df.shape)
arrest_raw_df.head()

(5308876, 19)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,236791704,11/22/2021,581.0,NaN,NaN,NaN,PL 2225001,M,M,28,0.0,45-64,M,BLACK,997427.0,230378.0,40.799009,-73.952409,POINT (-73.95240854099995 40.799008797000056)
1,237354740,12/04/2021,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41,0.0,25-44,M,WHITE HISPANIC,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034)
2,236081433,11/09/2021,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113,0.0,25-44,M,BLACK,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003)
3,32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN
4,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)

In [3]:
# Examine the data types
arrest_raw_df.dtypes

ARREST_KEY             int64
ARREST_DATE           object
PD_CD                float64
PD_DESC               object
KY_CD                float64
OFNS_DESC             object
LAW_CODE              object
LAW_CAT_CD            object
ARREST_BORO           object
ARREST_PRECINCT        int64
JURISDICTION_CODE    float64
AGE_GROUP             object
PERP_SEX              object
PERP_RACE             object
X_COORD_CD           float64
Y_COORD_CD           float64
Latitude             float64
Longitude            float64
Lon_Lat               object
dtype: object

In [4]:
# Examine # of unique values for each column(feature)
arrest_raw_df.nunique()

ARREST_KEY           5308876
ARREST_DATE             5844
PD_CD                    340
PD_DESC                  424
KY_CD                     75
OFNS_DESC                 88
LAW_CODE                2481
LAW_CAT_CD                 4
ARREST_BORO                5
ARREST_PRECINCT           78
JURISDICTION_CODE         27
AGE_GROUP                 91
PERP_SEX                   2
PERP_RACE                  8
X_COORD_CD             65034
Y_COORD_CD             68029
Latitude              108390
Longitude             109604
Lon_Lat               124549
dtype: int64

#### Handle Null Data in Dataset

In [5]:
# Check for null values
arrest_raw_df.isnull().sum()

ARREST_KEY               0
ARREST_DATE              0
PD_CD                  313
PD_DESC               9169
KY_CD                 9169
OFNS_DESC             9169
LAW_CODE               196
LAW_CAT_CD           20254
ARREST_BORO              8
ARREST_PRECINCT          0
JURISDICTION_CODE       10
AGE_GROUP               17
PERP_SEX                 0
PERP_RACE                0
X_COORD_CD               1
Y_COORD_CD               1
Latitude                 1
Longitude                1
Lon_Lat                  1
dtype: int64

In [6]:
# Drop all rows with any null data
arrest_no_null_df = arrest_raw_df.dropna()

print(arrest_no_null_df.shape)
arrest_no_null_df.head()

(5279617, 19)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
1,237354740,12/04/2021,153.0,RAPE 3,104.0,RAPE,PL 1302502,F,B,41,0.0,25-44,M,WHITE HISPANIC,1013232.0,236725.0,40.816392,-73.895296,POINT (-73.89529641399997 40.816391847000034)
2,236081433,11/09/2021,681.0,"CHILD, ENDANGERING WELFARE",233.0,SEX CRIMES,PL 2601001,M,Q,113,0.0,25-44,M,BLACK,1046367.0,186986.0,40.679700,-73.776047,POINT (-73.77604736799998 40.67970040800003)
4,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)
7,236106641,11/10/2021,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,B,41,72.0,25-44,M,WHITE HISPANIC,1017934.0,232221.0,40.804013,-73.878332,POINT (-73.87833183299993 40.804012949000025)
8,238383628,12/28/2021,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",113.0,FORGERY,PL 1702500,F,Q,113,0.0,18-24,M,BLACK,1045482.0,191341.0,40.691660,-73.779199,POINT (-73.77919852099996 40.69166001700007)

In [7]:
# Verify null row removal
arrest_no_null_df.isnull().sum()

ARREST_KEY           0
ARREST_DATE          0
PD_CD                0
PD_DESC              0
KY_CD                0
OFNS_DESC            0
LAW_CODE             0
LAW_CAT_CD           0
ARREST_BORO          0
ARREST_PRECINCT      0
JURISDICTION_CODE    0
AGE_GROUP            0
PERP_SEX             0
PERP_RACE            0
X_COORD_CD           0
Y_COORD_CD           0
Latitude             0
Longitude            0
Lon_Lat              0
dtype: int64

In [8]:
# Examine # of unique values for each column(feature) after NULL removal
arrest_no_null_df.nunique()

ARREST_KEY           5279617
ARREST_DATE             5844
PD_CD                    312
PD_DESC                  405
KY_CD                     75
OFNS_DESC                 87
LAW_CODE                2410
LAW_CAT_CD                 4
ARREST_BORO                5
ARREST_PRECINCT           77
JURISDICTION_CODE         27
AGE_GROUP                 91
PERP_SEX                   2
PERP_RACE                  8
X_COORD_CD             64999
Y_COORD_CD             67995
Latitude              108318
Longitude             109526
Lon_Lat               124432
dtype: int64

#### Pull Out Possible Database DataFrames

In [9]:
# Get unique PD_CD/PD_DESC pair values and sort
pd_code_df = arrest_no_null_df.loc[:, ["PD_CD", "PD_DESC"]].drop_duplicates().sort_values(by=['PD_CD'])

# Drop all duplicate rows based on KY_CD, keeping the first description only
pd_code_df.drop_duplicates(subset=["PD_CD"], inplace=True)

# Reset Dataframe index
pd_code_df.reset_index(drop=True)

print(pd_code_df.shape)
pd_code_df   #.head()

(312, 2)

        PD_CD                                  PD_DESC
777948   11.0          NY CITY,TRAFFIC SUMMONS WARRANT
403842  100.0              STALKING COMMIT SEX OFFENSE
10      101.0                                ASSAULT 3
754     104.0           VEHICULAR ASSAULT (INTOX DRIVE
12      105.0                        STRANGULATION 1ST
...       ...                                      ...
790     969.0           TRAFFIC,UNCLASSIFIED INFRACTIO
632600  970.0                                SPILLBACK
110778  972.0                               SEAT BELTS
568799  973.0  USE OF CELLULAR TELEPHONE WHILE DRIVING
91348   997.0                             UNCLASSIFIED

[312 rows x 2 columns]

In [10]:
# Get unique KY_CD/OFNS_DESC pair values and sort
key_code_df = arrest_no_null_df.loc[:, ["KY_CD", "OFNS_DESC"]].drop_duplicates().sort_values(by=['KY_CD'])  #.values

# Drop all duplicate rows based on KY_CD, keeping the first description only
key_code_df.drop_duplicates(subset=["KY_CD"], inplace=True)

# Reset Dataframe index
key_code_df.reset_index(drop=True)

print(key_code_df.shape)
key_code_df   #.head()

(75, 2)

        KY_CD                        OFNS_DESC
81743   101.0  MURDER & NON-NEGL. MANSLAUGHTER
15698   102.0       HOMICIDE-NEGLIGENT-VEHICLE
762     103.0   HOMICIDE-NEGLIGENT,UNCLASSIFIE
1       104.0                             RAPE
17      105.0                          ROBBERY
...       ...                              ...
5820    685.0             ADMINISTRATIVE CODES
7118    880.0               MOVING INFRACTIONS
625     881.0         OTHER TRAFFIC INFRACTION
91348   882.0                 PARKING OFFENSES
777948  995.0                F.C.A. P.I.N.O.S.

[75 rows x 2 columns]